@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family:"Montserrat", sans-serif;
.nav-list{
    background-color: white;
    box-shadow:0px 0px 10px var(--clr-gray200);
    margin:0px;
    padding: 1rem 0;
    border-radius: var(--radius);
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-end;
    align-items: center;
    
}
.nav-item{
    list-style: none;
    margin-right: 2rem;

}
.nav-item a {
    text-decoration: none;
    color: black;
}
.nav-item a:hover{
    color: var(--clr-primary-dark);
    transition: all 200ms ease-in;

}
.nav-item:first-child{
    margin-right: auto;
    margin-left: 2rem;
}
img{
    width: 100px;

}