*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins' ,sans-serif;
}

.nav-list{
    background-color: white;
    box-shadow:0px 0px 10px var(--clr-gray200);
    margin:0px;
    padding: 1rem 0;
    border-radius: var(--radius);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 2rem;

}
.nav-item a {
    text-decoration: none;
    color: black;
}
.nav-item a:hover{
    color: var(--clr-primary-dark);
    transition: all 200ms ease-in;

}
.nav-item:first-child{
    margin-right: auto;
    margin-left: 2rem;
}
* {
    box-sizing: border-box;
  }
.formulaire {
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px;
}

form > input {
    width: 100%;
    max-width: 500px;
}




